
.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #FFF;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #000;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

header{
  background-color: #000066;
}
h1{
  text-align: center;
  position: relative;
  width: 80%;
  margin: 50px auto;
  background-color: #000066;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #CD7F32;
}

h2{
  text-align: center;
  position: relative;
  width: 80%;
  margin: 50px auto;
  background-color: rgb(206, 227, 246);
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #000066;
}

.wizard{
  color:#800080;
  /* text-decoration:underline; */
}

.parentesis{
  text-align: center;
}

body{
  margin: 100px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: aliceblue;
  
}

#ventanaDestacados{
  position: fixed;
  right: 50px;
  background-color: #CD7F32;
  color:#000066;
  z-index:2;
  /* #FFECB3 */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 

@media screen and (max-width:600px){
  img{
    max-width:100%;
    height: auto;
    display: block;
  }
  .wrapper{
    display: block;
    text-align: center;
  }
}
.wrapper {
  display: grid;
  margin: 100px 180px 100px;
  width: 80%;
  grid-template-columns: repeat(2,minmax(50px,1fr)); 
  gap:60px;
 
}

button{
  cursor:pointer;
}

.nox{
  background-color: #000;
}